* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img,
#error-msg {
  display: none;
}

/* my form styling */
#myForm {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-width: 600px;
}
#firstName,
#lastName,
#emailAddress {
  padding: 0.25em;
  font-size: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  /* max-width: 1400px; */
  margin-bottom: 0.5em;
}

.option {
  border: 1px solid #ccc;
  display: flex;
  padding: 0.25em;
  width: 100%;
}
.user-consent {
  display: flex;
  justify-content: center;
}

textarea {
  width: 100%; /* or a fixed width like 300px */
  max-width: 100%; /* prevents overflow */
  resize: vertical;
  border: 1px solid #ccc;
}

.username,
.query-options,
.user-consent {
  display: flex;
  gap: 0.5em;
}
/* .username,
.query-options,
.user-consent {
  display: flex;
  gap: 0.5em;
}

#firstName,
#lastName {
  width: 100%;
}

.option {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.user-consent {
  display: flex;
  justify-content: center;
} */
